table {
    width: 100%;
  }
  .mat-form-field{
    font-size: 14px;
    width: 100%;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .search input#search{
	width: 200px;
	height: 40px;
	background: #eceff6;
	border: 2px solid #03648e;
	font-size: 10pt;
	float: left;
	color: #1f8e03;
	padding-left: 45px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 12px;
  }

.search .icon{
	float: left;
    position: relative;
    top: 12px;
    left: 32px;
	color: #03648e;
  }